<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="public/style.css">
  <title>Document</title>

</head>
<body>

  <debug>
    <debug-toggle>
      &#128295;
    </debug-toggle>
    <debug-menu>
      <debug-item>
        <debug-button debug-id="0">Clear Canvas</debug-button>
      </debug-item>
      <debug-item>
        <input debug-id="1" type="checkbox">
        <debug-switch></debug-switch>
        <debug-label>Show Red Border</debug-label>
      </debug-item>
    </debug-menu>
  </debug>

  <script src="p5/p5.min.js"></script>
	<script src="p5/addons/p5.dom.min.js"></script>
	<script src="public/sketch.js"></script>
	<script src="jquery/jquery.min.js"></script>
  <script src="public/debug/menu.js"></script>
  
</body>
</html>